<template>
  <require from="./comment"></require>

  <div class="article-page">

    <div class="banner">
      <div class="container">

        <h1>${article.title}</h1>

        <div class="article-meta">
          <a route-href="route: profile; params.bind: {name: article.author.username}">
            <img src.bind="article.author.image" /></a>
          <div class="info">
            <a route-href="route: profile; params.bind: {name: article.author.username}"
               class="author">${article.author.username}</a>
            <span class="date">${article.createdAt | date}</span>
          </div>
          <button class="btn btn-sm btn-outline-secondary">
            <i class="ion-plus-round"></i>
            &nbsp;
            Follow ${article.author.username}
          </button>
          &nbsp;&nbsp;
          <button class="btn btn-sm btn-outline-primary">
            <i class="ion-heart"></i>
            &nbsp;
            Favorite Post <span class="counter">(${article.favoritesCount})</span>
          </button>
        </div>

      </div>
    </div>

    <div class="container page">

      <div class="row article-content">
        <div class="col-md-12">
          <div>
            <pre>${article.body}</pre>
          </div>
        </div>
      </div>

      <hr />

      <div class="article-actions">
        <div class="article-meta">
          <a route-href="route: profile; params.bind: {name: article.author.username}">
            <img src.bind="article.author.image" /></a>
          <div class="info">
            <a route-href="route: profile; params.bind: {name: article.author.username}"
               class="author">${article.author.username}</a>
            <span class="date">${article.createdAt | date}</span>
          </div>

          <button class="btn btn-sm btn-outline-secondary">
            <i class="ion-plus-round"></i>
            &nbsp;
            Follow ${article.author.username}
          </button>
          &nbsp;
          <button class="btn btn-sm btn-outline-primary">
            <i class="ion-heart"></i>
            &nbsp;
            Favorite Post <span class="counter">(${article.favoritesCount})</span>
          </button>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-md-8 offset-md-2">

          <form class="card comment-form">
            <div class="card-block">
              <textarea class="form-control" placeholder="Write a comment..." rows="3"></textarea>
            </div>
            <div class="card-footer">
              <img src.bind="sharedState.currentUser.image" class="comment-author-img" />
              <button class="btn btn-sm btn-primary">
                Post Comment
              </button>
            </div>
          </form>

          <comment repeat.for="comment of comments" comment.bind="comment"></comment>

        </div>

      </div>

    </div>

  </div>

</template>
